input {
    padding: 0.5rem;
    margin: 0.5rem;

    border: 0.1rem solid lightblue;
    background: rgba(0, 0, 0, 0);

    font-size: 1.5rem;

    transition: border-color 0.25s ease-in-out;
}
input:focus {
    outline: none;
}
input[type="text"]:focus, #searchContainer input[type="button"]:active {
    border-color: darkblue;
}
input[type="button"] {
    cursor: pointer;
}