#results {
    overflow-y: scroll;
    transition: opacity 0.25s ease-in-out;
}

#results.hidden {
    display: none;
}

#results > .result {
    padding: 0.5rem;
    border-bottom: 0.1rem solid lightblue;
    cursor: pointer;
    text-overflow: ellipsis;
}
#results > .result:last-child {
    border: none;
}