/* Styling for the sidebar */
#sidebar {
    position: fixed;

    width: 40%;
    max-height: 100%;

    display: flex;
    flex-direction: column;
}

#sidebar > * {
    padding: 0.75rem;
    margin: 1rem;

    background: rgba(255, 255, 255, 0.75);
    box-shadow: 0 0 1rem black;

    transition: opacity 0.25s ease-in-out;
}

#sidebar > .hidden {
    pointer-events: none;
    opacity: 0;
    position: fixed;
}

/* Search section */
#searchContainer {
    display: flex;
    flex-direction: column;
}

/* Results section */
#results {
    overflow-y: scroll;
}

#results > .result {
    padding: 0.5rem;
    border-bottom: 0.1rem solid lightblue;
    cursor: pointer;
    text-overflow: ellipsis;
}
#results > .result:last-child {
    border: none;
}

/* Distance section */
#distanceContainer {
    display: flex;
    flex-direction: column;
}