@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("./css/elements.css");
@import url("./css/container.css");
@import url("./css/map.css");

* {
    padding: 0;
    margin: 0;

    font-family: 'Montserrat', sans-serif;
}

html, body {
    height: 100%;
    width: 100%;
}