#container > .authentication > div {
    display: grid;
    grid: 1fr auto / auto 1fr;
    align-items: center;
}

#container > .authentication > div > label.errorLabel {
    grid-area: 2 / 2 / 3 / 3;
}