/* Styling for the container */
#container {
    position: fixed;
    top: 4rem;

    width: 40%;
    max-height: calc(100% - 4rem);

    display: flex;
    flex-direction: column;

    overflow-x: hidden;
    overflow-y: scroll;
    scrollbar-width: none;
}
#container::-webkit-scrollbar {
    display: none;
}

#container > * {
    padding: 1rem;
    margin: 1rem;

    background: var(--faded);
    box-shadow: var(--shadow);

    display: flex;
    flex-direction: column;

    transition: transform var(--transition), opacity var(--transition);
}