/* Styling for the container */
#container {
    position: fixed;

    width: 40%;
    max-height: 100%;

    display: flex;
    flex-direction: column;

    overflow-x: hidden;
    overflow-y: scroll;
    scrollbar-width: none;
}
#container::-webkit-scrollbar {
    display: none;
}

#container > * {
    padding: 1rem;
    margin: 1rem;

    background: var(--faded);
    box-shadow: var(--shadow);

    display: flex;
    flex-direction: column;

    transition: opacity var(--transition);
}

#container > *:not(.activeContainer) {
    pointer-events: none;
    opacity: 0;
    position: fixed;
}