#loader {
    position: fixed;

    height: 0.5rem;
    top: 0;

    background: var(--faded);
    
    opacity: 0;
    transition: opacity var(--transition);
}

#loader.animate {
    opacity: 1;

    animation: load linear 2s infinite;
}

@keyframes load {
    from {
        left: -10%;
        right: 100%;
    }

    50% {
        left: 25%;
        right: 25%;
    }

    to {
        left: 100%;
        right: -10%;
    }
}