#card_login > div, #card_register > div {
    display: grid;
    grid: 1fr auto / auto 1fr;
    align-items: center;
}

#card_login > div > label.errorLabel, #card_register > div > label.errorLabel {
    grid-area: 2 / 2 / 3 / 3;
}